<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Follow notification</h1>
    <p>
      Someone is following you!<br/>
    </p>
  </body>
</html>
