<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Unfollow notification</h1>
    <p>
      <%= @current_user.name %> no longer follows you :( <br/>
    </p>
  </body>
</html>
