.container {
  width: 800px;
}
#deletefeed {
  background: #323432;
}

body {
  background: #1f1f1d;
  color: #bbb;
}

header {
  width: 780px;
  margin: 20px auto 0px;
  padding: 20px 10px 10px 10px;
  background-image: -moz-linear-gradient(top, #010101, #323432);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #323432));
	/* IE code - note GradientType=0 means vertical */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
                startColorstr=#010101, 
                endColorstr=#323432, 
               GradientType=0);
			   
	border: 2px solid #5a5a54;
}

header img {
  padding: 1em;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #323432;
  border: 2px solid #5a5a54;
}

section h1 {
  color: #bbb;
  font-size: 200%;
}

/* Links */

a {
  color: #91c934;
  text-decoration: none;
}

a:visited {
  color: #91c934;
}

a:hover {
  color: #f2f2f2;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: #323432;
  padding: 1em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  color:#91c934;
  font-weight: bold;
  font-size:14px;
}

nav ul li a:visited {
  color: #91c934;
}

nav ul li a:hover {
  color: #f2f2f2;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin: 10px auto 30px;  
  width: 800px;
}

footer nav {
  float: none;
  border: 2px solid #5a5a54;
  background-image: -moz-linear-gradient(top, #323432, #010101);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #323432),color-stop(1, #010101));
	/* IE code - note GradientType=0 means vertical */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
                startColorstr=#323432, 
                endColorstr=#010101, 
               GradientType=0);
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #010101;
  border: 2px solid #5a5a54;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users li {
   margin-top: 1em;
}

.users li {
   list-style: none;
}

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #bbb;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #bbb;
  vertical-align: top;
  padding-top: 10px;
}
table.microposts tr td.micropost{
  font-size: 120%;
}
table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

.users li {
  padding:5px 0 0 5px;
}

.users li:nth-child(even) {
  background:#010101;
}
.comment {
  margin-left: 10px;
  padding-left: 10px;
  font-size: 80%;
}
.commentcontent{
  font-size: 80%;
}
.gravatar_comment img {
  position: relative;
  top: 10px;
  width: 30px;
}
.gravatar_comment_profile img {
  position: relative;
  top: -5px;
  width: 30px;
}

