<p><%= link_to image_tag("rss.png", :alt => "rss img"), micropost_path(@user,:rss) %></p>
<table class="microposts" summary="User microposts">
  <%= render @microposts %>
</table>
<%= will_paginate @microposts %>
