<% unless @feed_items.empty? %>
  <%= form_tag microposts_path, :method => 'get', :id => "feed_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Content", :name => nil %>
    </p>
  <% end %>
  <div id="feedindex"><%= render 'feeds' %></div>
<% end %>

